WEB_DEBUG=True
WEB_ENV_NAME=dev
WEB_SECRET_KEY=vRiU73DFBtepLisi68uo
WEB_DB_DRIVER=django.db.backends.sqlite3
WEB_DB_NAME=db.sqlite3
#WEB_DB_USER=
#WEB_DB_PASSWORD=
#WEB_DB_HOST=
#WEB_DB_PORT=
#WEB_ERROR_EMAIL_TO=admin@example.com
#WEB_ERROR_EMAIL_FROM=server@example.com
#WEB_MEDIA_ROOT=/srv/www/whatever/media
WEB_LOGFILE_PATH=/srv/www/whatever/backend.log
WEB_LOGFILE_LEVEL=DEBUG
WEB_SECURE_COOKIES=True
